@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans+KR:wght@200;400&display=swap');

* {
    font-family: 'IBM Plex Sans KR', sans-serif;
}

.notion_list {
    float: left;
    width: 30%;
    padding-right: 10px;
    height: 100%;
}

.editor {
    margin-left: 400px;
    width: 100%;
}


li {
    padding-bottom: 10px;
}

.addBtn,
.removeBtn {
    width: 60px;
    height: 30px;
}

.disabled {
    pointer-events:none;
    font-weight: bold;
    color: #198754;
}

.addRootBtn {
    float: right;
}

span {
    display: inline-block;
    width: 100px;
}

.card-header {
    width: 103%;
}
