@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
  font-family: "Spoqa Han Sans Neo", "sans-serif";
  margin: 0;
}

body {
  color: #333333;
  overflow: hidden;
}

#app {
  display: grid;
  grid-template-columns: 1fr 4.5fr;
  overflow: hidden;
}

.document-page {
  background-color: #f7f6f3;
  padding: 8% 5%;
  height: 100vh;
}
/* #e8e7e4 */
.edit-page {
  background-color: #ffffff;
  text-align: center;
  /*     padding : 10% 5%; */
}

.editor {
  display: grid;
  width: 60%;
  padding: 5% 20%;
}
.editor-title {
  width: 100%;
  font-size: 2em;
  font-style: bold;
  font-weight: 600;
}
.editor-content {
  width: 100%;
  height: 560px;
  font-size: 1.1em;
  overflow: scroll;
  /* scroll-bar :none; */
}

.editor-content::-webkit-scrollbar {
  display: none;
}
button {
  background-color: transparent;
  border: none;
  color: gray;
}

ul {
  /*     list-style : none; */
  padding: 0 7%;
}

.document-list {
  font-size: 0.98em;
  margin-top: 2%;
  overflow: scroll;
  /* scroll-bar :none; */
}

.document-list::-webkit-scrollbar {
  display: none;
}

input:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  text-align: justify;
  line-height: 1.8;
}

input {
  border: none;
  margin-bottom: 1%;
}

.main-page {
  text-align: center;
  padding: 20%;
}
.main-title {
  font-size: 1.5em;
  font-weight: 900;
}

.main-content {
  font-size: 1.2em;
  padding-top: 1.2%;
}
