
.doc{
  &-ul{
    padding: 0;
    list-style: none;
    position: relative;
    width: 95%;
    left: 10px;
    overflow: hidden;
  }
  &-row{
    position: relative;
    list-style: none;

    padding: 3px 0 3px 0;
    &:hover{
      cursor: pointer;
      background-color:whitesmoke;

    }
  }
  &-carot{
    padding: 5px;
    //border: 1px solid black;
  }
  &-plusButton,&-delButton{
    position: absolute;
    right: 5px;
    padding: 5px;
    height: 20px;

    width: 20px;
    background-color: transparent;
    border: none;
    color: #c7c4c4;
    font-weight: bolder;
    &:hover{
      background-color: #bab7b7;
      color: black;
      border-radius: 5px;
    }

  }
  &-delButton{
    right: 27px;
  }
  .add-page{
    position: relative;
    left: 15px;
  }



}
#page {
  display: flex;
}
#edit-page {
  border: 1px solid black;
  height: 100%;
  flex-basis: 80%;
  flex-grow: 8;
  margin-left: 2px;
}
#nav-page {
  border: 1px solid black;
  flex-basis: 20%;
  flex-grow: 2;
  flex-shrink: 0;
  height: 100%;
  margin-right: 2px;
}
#textarea{
  &-title{
    font-size: 30px;
    overflow: hidden;
  }
  &-content{
    overflow: auto;
  }
}
.notice{
  position: fixed;
  top: 0;
  right: 0;
  width: auto;

  font-size: 18px;
  text-align: center;
  padding-top: 20px;
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  border-radius: 9px;
  background-color: #f4f4f8;
  opacity: 0;
  transition: 1s all;
  &.on{
    opacity: 1;
  }
}
@keyframes fadeOut {
  from{
    opacity: 1;
  }
  to{
    opacity: 0;
  }
  
}