// whole page section
body {
  margin: 0;
  padding: 0;
}
#page {
  display: flex;
  height: 100vh;
}
.notice {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;

  font-size: 18px;
  text-align: center;
  padding: 20px 20px 0 20px;
  height: 40px;
  border-radius: 9px;
  background-color: #f4f4f8;
  opacity: 0;
  transition: 1s all;

  &.on {
    opacity: 1;
    z-index: 1;
  }
}

#btn-help{
  position: fixed;
  display: inline-block;
  font-weight: bolder;
  top: 20px;
  right: 50px;
  width: 30px;
  padding: 7px;
  border-radius: 5px;
  height: 20px;
  background-color: rgb(227, 224, 224);
  #page-help{
    display: none;
  }
  &:hover{
    background-color: rgb(247, 246, 243);
    cursor: pointer;
    #page-help{
      position: relative;
      border: 2px solid #cbcbbb;
      border-radius: 4px;
      text-align: center;
      background-color: ivory;
      right: 340px;
      width: 370px;
      height: 430px;
      display: block;
      overflow: auto;
    }
  }
}

//navigation section
.doc {
  &-ul {
    color: rgb(161, 160, 156);
    padding: 0;
    list-style: none;
    position: relative;
    width: 95%;
    left: 10px;
    overflow: hidden;
  }

  &-row {
    position: relative;
    list-style: none;
    padding: 3px 0 3px 0;

    .doc-delButton,
    .doc-plusButton {
      display: none;
    }

    &:hover {
      color: black;
      cursor: default;
      background-color: rgb(232, 231, 228);

      .doc-delButton,
      .doc-plusButton {
        display: inline;
      }

      .doc-carot {
        color: black;
      }
    }
  }

  &-carot {
    padding: 5px;
    color: rgb(161, 160, 156);
    //border: 1px solid black;
  }

  &-title {
    display: inline-block;
    width: 70%;
  }

  &-plusButton, &-delButton {
    position: absolute;
    right: 5px;
    height: 20px;
    width: 20px;
    background-color: transparent;
    border: none;
    color: #c7c4c4;
    font-weight: bolder;

    &:hover {
      background-color: rgb(232, 231, 228);
      color: black;
      border-radius: 5px;
    }
  }

  &-delButton {
    right: 27px;
  }
}

.add-page {
  position: relative;
  padding-left: 15px;
  color: rgb(161, 160, 156);
  width: 100%;
  background-color: rgb(247, 246, 243);
  border: none;
  border-top: 0.2px solid #a8a7a7;
  font-size: medium;
  height: 40px;
  text-align: left;
  bottom: 0;

  &:hover {
    background-color: rgb(232, 231, 228);
    color: black;
  }
}
#nav-page {
  border-right: none;
  background-color: rgb(247, 246, 243);
  flex-basis: 20%;
  flex-grow: 2;
  flex-shrink: 0;
  height: 100%;
}
// editor section
.editor {
  &-title {
    font-size: xxx-large;
    font-weight: bolder;
    height: 50px;
    width: 90%;
    border: none;
    margin: 5px 0 10px 0;

    &:focus {
      outline: none;
    }
  }

  &-content {
    margin-top: 1px;
    font-size: large;
    width: 99.5%;
    height: 70vh;
    border: none;
    border-top: 1px solid #a8a7a7;

    &:focus {
      outline: none;
    }

  }
}



#edit-page,
#sub-docs-page {
  background-color: white;
  height: 90vh;
  flex-basis: 80%;
  flex-grow: 8;
  margin-left: 10px;

}

#sub-docs-page {
  position: relative;
  height: 10vh;
  margin-left: 0;
  border: 1px solid black;

}

.preview-content {
  width: auto;
  height: 70vh;
  padding-top: 3px;
  border: none;
  border-top: 1px solid #a8a7a7;
  overflow: scroll;
}

code {
  font-family: Consolas, "courier new", serif;
  font-weight: bold;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}


#btn {
  &-raw,
  &-preview {
    font-size: 20px;
    border: 1px solid #a8a7a7;
    background-color: white;
    border-radius: 4px;
  }

  &-raw {
    margin-right: -4px;
  }

  &-preview {
    margin-left: -3px;

  }
}

//SubDocsPage component
#sub-docs-page {
  border: none;
}

#sub-docs-title {
  margin: 3px 0 3px 0;
}

#sub-docs-ul {
  margin-top: 5px;
}

.sub-doc-li {
  &:hover {
    cursor: pointer;
    background-color: #f4f4f8;
  }
}
























