body {
  margin: 0;
  padding: 0;
}

#page {
  display: flex;
  height: 100vh;
}

.notice {
  position: fixed;
  top: 0;
  right: 0;
  width: auto;
  font-size: 18px;
  text-align: center;
  padding: 20px 20px 0 20px;
  height: 40px;
  border-radius: 9px;
  background-color: #f4f4f8;
  opacity: 0;
  transition: 1s all;
}
.notice.on {
  opacity: 1;
  z-index: 1;
}

#btn-help {
  position: fixed;
  display: inline-block;
  font-weight: bolder;
  top: 20px;
  right: 50px;
  width: 30px;
  padding: 7px;
  border-radius: 5px;
  height: 20px;
  background-color: #e3e0e0;
}
#btn-help #page-help {
  display: none;
}
#btn-help:hover {
  background-color: #f7f6f3;
  cursor: pointer;
}
#btn-help:hover #page-help {
  position: relative;
  border: 2px solid #cbcbbb;
  border-radius: 4px;
  text-align: center;
  background-color: ivory;
  right: 340px;
  width: 370px;
  height: 430px;
  display: block;
  overflow: auto;
}

.doc-ul {
  color: #a1a09c;
  padding: 0;
  list-style: none;
  position: relative;
  width: 95%;
  left: 10px;
  overflow: hidden;
}
.doc-row {
  position: relative;
  list-style: none;
  padding: 3px 0 3px 0;
}
.doc-row .doc-delButton,
.doc-row .doc-plusButton {
  display: none;
}
.doc-row:hover {
  color: black;
  cursor: default;
  background-color: #e8e7e4;
}
.doc-row:hover .doc-delButton,
.doc-row:hover .doc-plusButton {
  display: inline;
}
.doc-row:hover .doc-carot {
  color: black;
}
.doc-carot {
  padding: 5px;
  color: #a1a09c;
}
.doc-title {
  display: inline-block;
  width: 70%;
}
.doc-plusButton, .doc-delButton {
  position: absolute;
  right: 5px;
  height: 20px;
  width: 20px;
  background-color: transparent;
  border: none;
  color: #c7c4c4;
  font-weight: bolder;
}
.doc-plusButton:hover, .doc-delButton:hover {
  background-color: #e8e7e4;
  color: black;
  border-radius: 5px;
}
.doc-delButton {
  right: 27px;
}

.add-page {
  position: relative;
  padding-left: 15px;
  color: #a1a09c;
  width: 100%;
  background-color: #f7f6f3;
  border: none;
  border-top: 0.2px solid #a8a7a7;
  font-size: medium;
  height: 40px;
  text-align: left;
  bottom: 0;
}
.add-page:hover {
  background-color: #e8e7e4;
  color: black;
}

#nav-page {
  border-right: none;
  background-color: #f7f6f3;
  flex-basis: 20%;
  flex-grow: 2;
  flex-shrink: 0;
  height: 100%;
}

.editor-title {
  font-size: xxx-large;
  font-weight: bolder;
  height: 50px;
  width: 90%;
  border: none;
  margin: 5px 0 10px 0;
}
.editor-title:focus {
  outline: none;
}
.editor-content {
  margin-top: 1px;
  font-size: large;
  width: 99.5%;
  height: 70vh;
  border: none;
  border-top: 1px solid #a8a7a7;
}
.editor-content:focus {
  outline: none;
}

#edit-page,
#sub-docs-page {
  background-color: white;
  height: 90vh;
  flex-basis: 80%;
  flex-grow: 8;
  margin-left: 10px;
}

#sub-docs-page {
  position: relative;
  height: 10vh;
  margin-left: 0;
  border: 1px solid black;
}

.preview-content {
  width: auto;
  height: 70vh;
  padding-top: 3px;
  border: none;
  border-top: 1px solid #a8a7a7;
  overflow: scroll;
}

code {
  font-family: Consolas, "courier new", serif;
  font-weight: bold;
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
}

#btn-raw, #btn-preview {
  font-size: 20px;
  border: 1px solid #a8a7a7;
  background-color: white;
  border-radius: 4px;
}
#btn-raw {
  margin-right: -4px;
}
#btn-preview {
  margin-left: -3px;
}

#sub-docs-page {
  border: none;
}

#sub-docs-title {
  margin: 3px 0 3px 0;
}

#sub-docs-ul {
  margin-top: 5px;
}

.sub-doc-li:hover {
  cursor: pointer;
  background-color: #f4f4f8;
}

/*# sourceMappingURL=index.css.map */
