#App {
  display: flex;
}

.nav-page {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.hide {
  display: none;
}

.document-list ul::before {
  content: "📬";
}
.document-list ul.wrap::before {
  content: "📫";
}

div.icon-container {
  width: 100px;
  height: 100px;
}
