html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
  }

ul, li {
    margin: 0px;
    padding-left: 5px;
    list-style: none;
}

button {
    color: rgba(25, 23, 17, 0.6);
    background-color: #EDECE9;
    border: none;
}

button:hover {
    background-color: white;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}

.notion-sidebar {
    background-color: #EDECE9;
    padding-left: 5px;
    width: 40%;
    box-sizing: border-box;
}

.notion-editor {
    width: 60%;
}
    
.title-wrapper{
    display: flex;
}

.document-container{
    color: rgba(25, 23, 17, 0.6);
}

