html, body{
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-size: 100%;
    box-sizing: border-box;
  }

ul, li {
    margin: 0px;
    padding-left: 5px;
    list-style: none;
}

button {
    color: rgba(25, 23, 17, 0.6);
    background-color: #EDECE9;
    border: none;
}

button:hover {
    background-color: white;
}

input {
    width: 500px;
    margin-top: 30px;
    padding: 10px;
    border: none;
    height: 80px;
    font-size: 40px;
    box-sizing: border-box;
}

input:focus {
    outline: none;
    border-radius: 10px;
    background-color: #EDECE9;
}

textarea {
    width:500px; 
    height:400px;
    margin-top: 10px;
    padding: 10px;
    border-radius: 10px;
    box-sizing: border-box;
}

textarea:focus {
    outline: none;
    background-color: #EDECE9;
}

#app {
    display: flex;
    width: 100%;
    height: 100%;
}

.notion-sidebar {
    background-color: #EDECE9;
    padding-left: 5px;
    width: 20%;
    box-sizing: border-box;
}
.sidebar-header {
    display: flex;
    height: 10%;
    font-size: 30px;
    font-weight: 700;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.notion-editor {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
}

.editor-container{
    display: flex;
    flex-direction: column;
}


.document-container{
    height: 90%;
    overflow: auto;
    box-sizing: border-box;
    color: rgba(25, 23, 17, 0.6);
}

.horisontal-line{
    width: 500px;
    border: 1px solid #EDECE9;
}