.Editor {
  width: 80%;
  display: inline-block;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 96px;

  color: var(--editor-font-color);
}

.Editor * {
  width: 100%;
}

.Editor__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 28px;
  padding: 3px 2px;
  border: 0;
  outline: 0;
  flex-grow: 0;
  display: block;
}

.Editor__content {
  font-size: 16px;
  padding: 2px 1px;
  border: 0;
  outline: 0;
  flex-grow: 1;
  resize: none;
  overflow: visible;
  display: inline-block;
}

.Editor__bottomBar {
  display: flex;
}

.Editor__bottomBar li {
  margin: 10px 0;
  margin-right: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}
