:root {
  --sidebar-width: 240px;
  --sidebar-bg-color: #f7f6f3;
  --sidebar-document-hover-color: #d9d8d5;
  --sidebar-document-font-color: #7b7a75;
  --sidebar-btn-hover-color: #cdccc9;
  --sidebar-btn-icon-color: #666560;

  --editor-font-color: #37352f;
}

#app {
  width: 100vw;
  height: 100vh;
}

i {
  pointer-events: none;
  font-size: 14px;
}

.none {
  display: none;
}

.MainPage {
  display: flex;
  width: 100vw;
  height: 100%;
}

.Sidebar {
  position: fixed;
  width: var(--sidebar-width);
  height: 100%;
  background: var(--sidebar-bg-color);
}

.EditorContainer {
  margin-left: var(--sidebar-width);
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.Header {
  padding: 2px 14px;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0px;
}

.Editor {
  max-width: 900px;
  display: inline-block;
  width: 80%;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 96px;
  color: var(--editor-font-color);
}

.Editor * {
  width: 100%;
}

.Editor__title {
  display: block;
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 28px;
  padding: 3px 2px;
  border: 0;
  outline: 0;
  flex-grow: 0;
}

.Editor__content {
  display: inline-block;
  height: 90%;
  font-size: 16px;
  padding: 2px 1px;
  border: 0;
  outline: 0;
  resize: none;
  overflow: visible;
}

.Editor__bottom-bar {
  max-width: 900px;
  width: 80%;
  margin-top: 10px;
  margin-bottom: 16px;
}

.Editor__bottom-bar ul {
  display: flex;
}

.Editor__bottom-bar .Sidebar__Document {
  margin: 10px 0;
  margin-right: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}

.BottomBar__title {
  font-size: 18px;
  font-weight: 600;
}

.BottomBar__none {
  margin: 10px 0;
  margin-left: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid transparent;
  color: var(--sidebar-document-font-color);
}

.PageBlock__buttons {
  display: flex;
}

.PageBlock__column {
  display: flex;
  align-items: center;
}

.PageBlock__buttons .Sidebar__RemoveButton {
  margin-right: 2px;
}

.Sidebar__Document,
.Sidebar__DocumentAdd {
  font-size: 14px;
  padding: 5px 14px;
  display: flex;
  justify-content: space-between;
  color: var(--sidebar-document-font-color);
  cursor: pointer;
}

.Sidebar__Document:hover {
  background: var(--sidebar-document-hover-color);
}

.Sidebar__Document--selected {
  background: rgba(55, 53, 47, 0.08);
}

.Sidebar__Document--disable {
  font-size: 14px;
  padding: 5px 14px;
  display: flex;
  color: rgba(55, 53, 47, 0.4);
}

.Sidebar__Document button,
.Sidebar__DocumentAdd button {
  border: 0;
  outline: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 3px;
}

.Sidebar__Document button i,
.Sidebar__DocumentAdd button i {
  color: var(--sidebar-btn-icon-color);
}

.Sidebar__AddButton span {
  margin-left: 10px;
  pointer-events: none;
}

.Sidebar__AddButton i,
.Sidebar__RemoveButton i {
  color: var(--sidebar-btn-icon-color);
}

.Sidebar__add-button * {
  pointer-events: none;
}

.Sidebar__Document button:hover {
  background: var(--sidebar-btn-hover-color);
}

.LoadingBox {
  position: fixed;
  top: 20px;
  right: 30px;
  background-color: rgba(55, 53, 47, 0.8);
  font-size: 16px;
  color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border-radius: 5px;
}
