:root {
  --sidebar-bg-color: #f7f6f3;
  --sidebar-document-hover-color: #d9d8d5;
  --sidebar-document-font-color: #7b7a75;
  --sidebar-btn-hover-color: #cdccc9;
  --sidebar-btn-icon-color: #666560;

  --editor-font-color: #37352f;
}

#app {
  display: flex;
  width: 100vw;
  height: 100%;
  position: fixed;
}

i {
  pointer-events: none;
  font-size: 14px;
}

.Sidebar {
  position: sticky;
  flex: 0 0 240px;
  height: 100%;
  background: var(--sidebar-bg-color);
  overflow: visible;
}

.EditorContainer {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
  align-items: center;
}

.Header {
  padding: 2px 14px;
  font-size: 16px;
  font-weight: 700;
  margin: 20px 0px;
}

.Editor {
  width: 80%;
  display: inline-block;
  flex-shrink: 1;
  flex-grow: 1;
  margin-top: 96px;

  color: var(--editor-font-color);
}

.Editor * {
  width: 100%;
}

.Editor__title {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 28px;
  padding: 3px 2px;
  border: 0;
  outline: 0;
  flex-grow: 0;
  display: block;
}

.Editor__content {
  font-size: 16px;
  padding: 2px 1px;
  border: 0;
  outline: 0;
  flex-grow: 1;
  resize: none;
  overflow: visible;
  display: inline-block;
}

.Editor__bottomBar {
  display: flex;
}

.Editor__bottomBar li {
  margin: 10px 0;
  margin-right: 5px;
  padding-bottom: 3px;
  border-bottom: 1px solid rgba(55, 53, 47, 0.16);
}

.PageBlock__buttons {
  display: flex;
}

.PageBlock__column {
  display: flex;
  align-items: center;
}

.PageBlock__buttons .Sidebar__RemoveButton {
  margin-right: 2px;
}

.Sidebar__Document,
.Sidebar__DocumentAdd {
  font-size: 14px;
  padding: 5px 14px;
  display: flex;
  justify-content: space-between;
  color: var(--sidebar-document-font-color);
  cursor: pointer;
}

.Sidebar__Document:hover {
  background: var(--sidebar-document-hover-color);
}

.Sidebar__Document--selected {
  background: rgba(55, 53, 47, 0.08);
}

.Sidebar__Document--disable {
  font-size: 14px;
  padding: 5px 14px;
  display: flex;
  color: rgba(55, 53, 47, 0.4);
}

.Sidebar__Document button,
.Sidebar__DocumentAdd button {
  border: 0;
  outline: 0;
  padding: 0;
  background: transparent;
  cursor: pointer;
  padding: 3px 5px;
  border-radius: 3px;
}

.Sidebar__Document button i,
.Sidebar__DocumentAdd button i {
  color: var(--sidebar-btn-icon-color);
}

.Sidebar__AddButton span {
  margin-left: 10px;
  pointer-events: none;
}

.Sidebar__AddButton i,
.Sidebar__RemoveButton i {
  color: var(--sidebar-btn-icon-color);
}

.Sidebar__Document button:hover {
  background: var(--sidebar-btn-hover-color);
}

/* TODO: 일단 add하는 블록은 별도 안에서 찾아서 처리중, 나중에 다시 찾아내서 별도로 분리해주기*/
.Sidebar__DocumentAdd {
  padding: 0px;
}

.Sidebar__DocumentAdd .Sidebar__AddButton {
  width: 100%;
  display: flex;
  padding: 8px 0px;
  padding-left: 19px;
}

.Sidebar__DocumentAdd .Sidebar__AddButton:hover {
  background: var(--sidebar-document-hover-color);
}
