@import url('normalize.css');

:root[notion-theme='light'] {
  --backgroundColor: #ffffff;
  --fontColor: #808080;
  --documentsBackgroundColor: #f7f6f3;
  --documentsButtonHoverColor: #353535;
  --sideButtonColor: #808080;
  --sideButtonHoverColor: #353535;
  --darkModeToggleButtonColor: #000000;
  --modalFontColor: #000000;
  --dimmedColor: rgba(0, 0, 0, 0.5);
}

:root[notion-theme='dark'] {
  --backgroundColor: #353535;
  --fontColor: #ffffff;
  --documentsBackgroundColor: #6e6e6e;
  --documentsButtonHoverColor: #ffffff;
  --sideButtonColor: #6e6e6e;
  --sideButtonHoverColor: #ffffff;
  --darkModeToggleButtonColor: #ff8200;
  --modalFontColor: #ffffff;
  --dimmedColor: rgba(255, 255, 255, 0.5);
}

html {
  background: var(--backgroundColor);
}

button {
  cursor: pointer;
  border: none;
  background-color: transparent;
  border-radius: 0;
}

#app {
  display: flex;
  flex-direction: row;
  width: 100vw;
  height: 100vh;
}

.dimmed {
  display: none;
  position: fixed;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: var(--dimmedColor);
  z-index: 1;
}

.modal {
  min-width: 500px;
  width: 50%;
  height: 60px;
  z-index: 10;
}

.modal input {
  width: 100%;
  height: 100%;
  font-size: 30px;
  outline: none;
  border: none;
  padding: 5px 10px;
  background-color: var(--backgroundColor);
  color: var(--modalFontColor);
}

.document-list {
  display: flex;
  flex-direction: column;
  color: gray;
  overflow: hidden;
}

.document-list .message-container {
  position: absolute;
  top: 50%;
  align-self: center;
}

.document-tree {
  color: var(--fontColor);
}

.document-tree,
.document-tree ul {
  list-style: none;
  padding-left: 20px;
  margin-top: 10px;
}

.document-tree li {
  position: relative;
  margin-bottom: 10px;
  width: 100%;
}

.document-tree li,
.document-tree label {
  cursor: pointer;
}

.document-tree .button-group {
  display: inline;
  position: absolute;
  right: 10px;
}

.document-tree .button-group i {
  padding: 0 2px;
  color: #cdccc9;
}

.document-tree .button-group i:hover {
  color: var(--documentsButtonHoverColor);
}

.document-tree label::before {
  content: '📂  ';
}

.document-tree label.last-node::before {
  content: '📄  ';
}

.document-tree input[type='checkbox'] {
  display: none;
}

.document-tree input[type='checkbox']:checked ~ ul {
  display: none;
}

.document-tree input[type='checkbox']:checked + label::before {
  content: '📁  ';
}

.document-tree input[type='checkbox']:checked + label.last-node::before {
  content: '📄  ';
}

.edit-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
}

.edit-page-empty-message {
  position: absolute;
  font-size: 56px;
  color: var(--fontColor);
}

.document-title {
  width: 85%;
  height: 70px;
  font-size: 48px;
  border: 0;
  outline: none;
  flex-basis: 20%;
  background: var(--backgroundColor);
  color: var(--fontColor);
}

.document-editor {
  overflow: auto;
  width: 100%;
  margin-top: 10px;
  font-size: 24px;
  border-radius: 0;
  border: none;
  outline: none;
  resize: none;
  flex-basis: 60%;
  padding: 10px;
  background: var(--backgroundColor);
  color: var(--fontColor);
}

.documents-page {
  position: relative;
  width: 25%;
  height: 100%;
  background: var(--documentsBackgroundColor);
}

.fade-out {
  animation-duration: 0.2s;
  animation-name: fadeOut;
  animation-fill-mode: forwards;
}

.fade-in {
  animation-duration: 0.2s;
  animation-name: fadeIn;
  animation-fill-mode: forwards;
}

@keyframes fadeOut {
  from {
    width: 25%;
  }

  to {
    width: 0%;
  }
}

@keyframes fadeIn {
  from {
    width: 0%;
  }

  to {
    width: 25%;
  }
}

.child-document-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 35px;
  width: 85%;
  flex-basis: 20%;
  overflow: auto;
  margin-top: 10px;
}

.child-document-link {
  display: flex;
  align-items: center;
  color: var(--fontColor);
  cursor: pointer;
}

.child-document-link:hover {
  color: var(--fontColor);
}

.child-document-link::before {
  content: '📄  ';
}

.side-button {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--sideButtonColor);
  font-size: 24px;
  cursor: pointer;
  width: 50px;
  height: 50px;
  position: absolute;
  top: 50%;
  left: 100%;
  transform: translateY(-50%);
}

.side-button:hover {
  color: var(--sideButtonHoverColor);
}

.logo-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 20px;
  height: 100%;
}

.logo-image {
  cursor: pointer;
  width: 50px;
  height: 50px;
  align-self: flex-start;
}

.root-document-add-button {
  align-self: center;
  width: 100%;
  height: 38px;
  font-size: 14px;
  margin-left: 20px;
  color: var(--fontColor);
  border: 1px solid var(--fontColor);
}

.root-document-add-button:hover {
  color: white;
  background-color: gray;
}

.editor-container {
  display: flex;
  width: 85%;
  height: 60%;
}

.display-flex {
  display: flex;
}

.display-none {
  display: none;
}

.dark-mode-toggle-button {
  cursor: pointer;
  position: absolute;
  font-size: 32px;
  top: 30px;
  right: 30px;
  color: var(--darkModeToggleButtonColor);
}
