html {
	font-size: 10px;
	overflow: hidden;
	font-family: 'Open Sans', sans-serif;
	box-sizing: content-box;
}
input,
textarea,
button {
	border: none;
}
button {
	cursor: pointer;
	padding: none;
	background-color: #1fe0;
}

/* layout */
.row {
	display: flex;
}

/* sidebar */
.sidebar-container {
	position: relative;
	flex-grow: 0;
	flex-shrink: 0;
	width: 240px;
	background: rgb(247, 246, 243);
	color: rgba(25, 23, 17, 0.6);
	font-size: 1.5rem;
}
.header-title {
	display: flex;
	align-items: center;
	padding: 0.2rem 1.6rem;
	width: 100%;
	height: 45px;
	font-weight: 600;
	font-size: 1.4rem;
	color: rgb(55, 53, 47);
}
.nav-item {
	display: flex;
	align-items: center;
	cursor: pointer;
	padding: 2px 15px;
	min-height: 27px;
	font-size: 1.4rem;
}
.tree:not(:first-child) p {
	padding-left: 30px;
}
p.blank {
	margin-left: 20px;
	padding: 8px;
	font-size: 1.4rem;
	color: rgba(55, 53, 47, 0.4);
}
.nav-toggler-btn.icon-down-dir {
	font-size: 1.7rem;
	margin-top: 0.2rem;
}
.nav-toggler-btn.icon-play {
	font-size: 1.1rem;
	margin-top: -0.2rem;
}
.nav-toggler-btn {
	opacity: 0.5;
	border-radius: 3px;
}
.nav-crate-btn {
	padding: 0.5rem;
	border-radius: 3px;
}
.nav-delete-btn {
	padding: 0.5rem;
	border-radius: 3px;
}
.nav-toggler-btn:hover {
	background: rgba(55, 53, 47, 0.08);
}
.nav-crate-btn:hover {
	background: rgba(55, 53, 47, 0.08);
}
.nav-delete-btn:hover {
	background: rgba(55, 53, 47, 0.08);
}
.nav-item:hover {
	color: rgb(55, 53, 47);
	font-weight: 700;
	background: rgba(55, 53, 47, 0.08);
}
.nav-item.selected {
	background: rgba(55, 53, 47, 0.08);
	color: rgb(55, 53, 47);
	font-weight: 700;
}
.sidebar-body .create-btn {
	cursor: pointer;
	padding: 1rem 1.5rem;
}
.sidebar-footer {
	box-shadow: rgb(55 53 47 / 9%) 0px -1px 0px;
	cursor: pointer;
	position: fixed;
	bottom: 0;
	padding: 2rem 0;
	width: 240px;
	color: rgba(55, 53, 47, 0.6);
}
.sidebar-footer:hover {
	background: rgba(55, 53, 47, 0.08);
}
.sidebar-footer .create-btn {
	padding: 2rem;
}

/* page */
.page-container {
	display: flex;
	flex-direction: row;
	justify-content: center;
	padding-top: 7rem;
	width: 1200px;
	height: 100vh;
	max-height: 100%;
	background: white;
}
.page-body {
	width: 70%;
}
.page-title {
	position: relative;
	width: 100%;
}
.show-page-title {
	cursor: text;
	font-size: 4rem;
	font-weight: 700;
	white-space: pre-wrap;
	word-break: break-word;
	outline: none;
}
.page-content {
	margin-top: 5vh;
	min-height: 100%;
	cursor: text;
}
.show-page-content {
	font-size: 1.6rem;
	line-height: 1.5;
	white-space: pre-wrap;
	word-break: break-word;
	outline: none;
}

/* modal */
.modal-container {
	position: absolute;
	top: 72px;
	left: 72px;
	right: 72px;
	z-index: 9999;
	display: flex;
	flex-direction: column;
	margin-right: auto;
	margin-left: auto;
	max-width: 960px;
	height: calc(100% - 144px);
	border-radius: 3px;
	background: white;
	box-shadow: rgb(15 15 15 / 5%) 0px 0px 0px 1px,
		rgb(15 15 15 / 10%) 0px 5px 10px, rgb(15 15 15 / 20%) 0px 15px 40px;
}
.modal-header {
	display: flex;
	padding: 1rem;
	justify-content: space-between;
}
.modal-openpage-btn {
	padding: 1rem;
	cursor: pointer;
	border-radius: 3px;
	font-size: 1.4rem;
	line-height: 1.2;
	color: rgba(55, 53, 47, 0.6);
}
.modal-openpage-btn:hover {
	background: rgba(55, 53, 47, 0.08);
}
.modal-close-btn {
	padding: 1rem;
	cursor: pointer;
	border-radius: 3px;
	font-size: 1.4rem;
	line-height: 1.2;
	color: rgba(55, 53, 47, 0.6);
}
.modal-close-btn:hover {
	background: rgba(55, 53, 47, 0.1);
}
.modal-body {
	display: flex;
	flex-direction: column;
	padding: 8rem;
	height: 100%;
}
.show-modal-title {
	cursor: text;
	font-size: 4rem;
	font-weight: 700;
	white-space: pre-wrap;
	word-break: break-word;
	outline: none;
}
.modal-content {
	margin-top: 5vh;
	min-height: 100%;
	cursor: text;
}
.show-modal-content {
	font-size: 1.6rem;
	line-height: 1.5;
	white-space: pre-wrap;
	word-break: break-word;
	outline: none;
}

/* 404 NotFoundPage */
.not-found {
	display: flex;
	flex-direction: column;
	align-content: center;
	justify-content: center;
	min-width: 100vh;
	min-height: 100vh;
	text-align: center;
}
.not-fount-title {
	font-size: 7rem;
	font-weight: 700;
	color: rgb(55, 53, 47);
}
.not-found .home {
	margin-top: 3vh;
	text-decoration: none;
	font-size: 4rem;
	text-decoration: underline;
	color: rgb(55, 53, 47);
}

/* js-controll */
.hide {
	display: none;
}
