h2 {
  text-align: center;
}
main{
  height:100%
}
body {
  font-family: 'Noto Sans KR', sans-serif;
}
.main-documentPage{
  background-color: #F7F6F3;
  padding: 10px;
}
.main-editPage{
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-grow: 1;
}
.contain-documentPage {
  opacity: 0.6;
}

button{
  
  border-color: rgba(0, 0, 0, 0);
  background-color: rgba(0, 0, 0, 0);
}
button:hover{
  background-color: peachpuff;
  opacity: 1;
}
input {
  width: 600px;
  font-size: 40px;
}
textarea {
  width: 600px;
  height: 600px;
  padding: 10px;
  box-sizing: border-box;
  border: solid 2px #1E90FF;
  border-radius: 5px;
  font-size: 16px;
  resize: both;
}

.root-document{
  padding: 0px;
}
li{
  list-style: none;
}
div.item{
  width: 100%;
}
div.item:hover  {
  opacity: 1;
  background-color: silver;
}
.add-root-Document:hover  {
  opacity: 1;
  background-color: silver;
}