:root {
  --color-success: #47d764;
  --color-fail: #ff355b;
  --color-summary: #101020;
  --color-description: #656565;
}

.toast-wrapper,
#toast,
.container-1,
.container-2,
.container-1 p,
.container-2 p {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 14px;
  border: none;
}

.toast-wrapper {
  width: 280px;
  padding: 30px 50px;
  position: absolute;
  top: 10px;
  right: 0;

  overflow: hidden;
}

#toast {
  width: 240px;
  height: 60px;
  background-color: white;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.05);
  border-radius: 7px;

  display: grid;
  grid-template-columns: 1.8fr 6fr;

  /* will be hidden by wrapper's overflow */
  transform: translate(400px);

  transition: ease-in-out 1s;
}

#toast.success {
  border-left: 8px solid var(--color-success);
}

#toast.fail {
  border-left: 8px solid var(--color-fail);
}

.container-1,
.container-2 {
  align-self: center;
}

.container-1 {
  justify-self: center;
}

.container-1 span {
  font-size: 24px;
}

#toast.success .container-1 span {
  color: var(--color-success);
}

#toast.fail .container-1 span {
  color: var(--color-fail);
}

.container-2 p :first-child {
  color: var(--color-summary);
  font-size: 16px;
  font-weight: 600;
}

.container-2 p:last-child {
  color: var(--color-description);
  font-size: 12px;
  font-weight: 400;
}
