aside {
  position: fixed;
  width: 240px;
  height: 100vh;
  padding: 15px 5px;
  background-color: #f7f6f3;
}

ul {
  margin: 0;
  padding-left: 3%;
}

li {
  margin-bottom: 10%;
  padding-left: 3%;
  list-style: none;
}

.sidebar__toggle,
.sidebar__title,
.sidebar__add,
.sidebar__delete {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  font-size: 18px;
  font-weight: bold;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}
