aside {
  position: fixed;
  width: 240px;
  height: 100vh;
  padding: 1rem 0;
  background-color: #f7f6f3;
}

ul {
  margin: 0;
  padding-left: 1rem;
}

li {
  list-style: none;
}

.sidebar__toggle,
.sidebar__title,
.sidebar__add,
.sidebar__delete {
  width: 25px;
  height: 25px;
  padding: 0;
  border: none;
  font-size: 18px;
  background-color: transparent;
  color: gray;
  cursor: pointer;
}

.sidebar__toggle:hover,
.sidebar__title:hover,
.sidebar__add:hover,
.sidebar__delete:hover {
  background-color: #e8e7e4;
}
