// COLOR
$font-base-color: #212529;
$font-light-color: #495057;

$list-background-color: #dbe4ff;
$list-lighter-color: #d0bfff;
$list-darker-color: #b197fc;

$gray: #eee;

// LIST_PAGE
$list-button-padding: 10px 0;
$padding-depth: 20px;
$button-width: 22px;

// EDIT_PAGE
$edit-left-right-padding: 10px;

// GLOBAL
$border-radious: 5px;
