.notion-content-container {
  width: 80vw;
  margin: 5% 5% 0 5%;
  display: flex;
}
.editor {
  margin-right: 10px;
  width: 50%;
}
.viewer {
  width: 50%;
  margin-left: 10px;
  height: 30%;
  background-color: aqua;
}
.content-header {
  word-break: break-all;
  outline: none;
  height: 30px;
  border-bottom: 1px solid;
  height: auto;
  min-height: 30px;
}

.content-body {
  outline: none;
  height: fit-content;
  border-top: 1px solid;
}
