.editor {
  width: 50%;
  border-right: 1px solid;
  padding-right: 20px;
}

.content-header {
  word-break: break-all;
  outline: none;
  height: 30px;
  border-bottom: 1px solid;
  height: auto;
  min-height: 30px;
  padding-bottom: 10px;
}

.content-body {
  outline: none;
  height: fit-content;
  border-top: 1px solid;
  padding-top: 10px;
}
.viewer {
  width: 50%;
  height: 30%;
  padding-left: 20px;
}
