.notion-content-container {
  /* background-color: red; */
  width: 80vw;
  margin: 10% 0 0 10%;
}

.content-header {
  outline: none;
  font-size: 30px;
  height: 30px;
}

.notion-content-container section {
  width: 100%;
  height: 100%;
  /* background-color: lightblue; */
}
.content {
  height: px;
  font-size: 20px;
  height: 30px;
}

[contenteditable="true"]:empty:before {
  content: attr(placeholder);
  display: block;
}
