ul {
  list-style-type: circle;
}

.dataList:hover {
  background-color: #e9e9e9;
  opacity: 0.8;
}

li {
  margin-top: 4%;
}

.listContainer {
  width: 280px;
  height: 1080px;
  background-color: #f7f6f3;
  overflow: auto;
  resize: horizontal;
}

.listContainer h2 {
  font-size: 18px;
  font-weight: 500;
  margin: 10% 0% 0% 3%;
}

.listContainer h3 {
  font-size: 15px;
  margin: 2% 0% 0% 3%;
  color: #808080;
}

.addNew {
  background-color: #f7f6f3;
  color: #808080;
  border: none;
  text-align: left;
  padding-left: 20px;
  font-size: 16.5px;
  width: 100%;
  height: 25px;
}

.addNew:hover {
  background-color: #e9e9e9;
  opacity: 0.8;
}

.postList {
  color: #808080;
}

.addBtn {
  width: 4px;
  background-color: #f7f6f3;
  border: none;
}

.delBtn {
  width: 5px;
  background-color: #f7f6f3;
  border: none;
}
