:root {
  --toggle: 90deg;
}
body {
  margin: 0;
  padding: 0;
}
.app {
  height: 1339px;
  display: flex;
}

.notion-sidebar-container {
  padding-left: 10px;
  position: relative;
  width: 218px;
  background-color: #f7f6f3;
  height: 1339px;
}
.memo {
  position: relative;
  width: 500px;
}
polygon {
  box-sizing: border-box;
  fill: rgba(55, 53, 47, 0.4);
}
svg {
  padding: 5px;
  width: 0.6875em;
  height: 0.6875em;
  display: block;
  fill: rgba(55, 53, 47, 0.4);
  flex-shrink: 0;
  transition: transform 200ms ease-out 0s;
  transform: rotateZ(var(--toggle));
  opacity: 1;
  cursor: pointer;
}

.notion-sidebar-block {
  display: flex;
  justify-content: space-between;
}

.notion-sidebar-block span {
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 160px;
}

button.add {
  opacity: 0;
  transition: all 200ms ease-in 0s;
  border: lightgray;
  margin-right: 5%;
}
button:hover {
  background-color: darkgray;
}
