/* #username {
    list-style: none;
} */

/* For Sidebar */
.sidebar {
    width: 250px;
    height: 100%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 20px;
    background-color: antiquewhite;
    overflow: scroll;
}

#username {
    text-align: center;
    font-weight: bold;
}

ul,
#treeUL {
    list-style-type: none;
}

#treeUL {
    margin: 0;
    padding: 0;
}

.rootDocument {
    cursor: pointer;
    user-select: none;
    width: 15px;
    height: 15px;
}

/* .rootDocument::before {
    display: inline-block;
    margin-right: 5px;
}

.rootDocument-downbefore {
    transform: rotate(90deg);
}

.childDocument {
    display: none;
}

.active {
    display: block;
}

.add_btn {
    background-color: transparent;
} */

.add-document,
.delete-document {
    width: 15px;
    height: 15px;
    float: right;
    cursor: pointer;
}

.sidebar .document:hover {
    background: rgba(55, 53, 47, 0.08);
}

/* For Document Page */

.path_header {
    background-color: aqua;
}

.document_page {
    margin-left: 250px;
    padding: 0px 10px;
}

/* For Editor */
.title {
    width: 600px;
}

.content {
    width: 600px;
    height: 400px;
    border: 1px solid black;
    margin-top: 8px;
}
