body {
  font-size: 14px;
}

button {
  border: 0;
  background-color: transparent;
}

.side-container {
  float: left;
  width: 240px;
  height: 100vh;
  background: #f7f6f3;
  box-sizing: border-box;
}

.side-container .header {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 15px;
  margin-bottom: 20px;
  box-sizing: border-box;
}

.side-container .header:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-container .header img {
  width: 24px;
  border-radius: 4px;
  background-color: #eee;
}

.side-container .header h1 {
  margin-left: 8px;
  font-weight: bold;
  font-size: 14px;
  color: rgb(55, 53, 47);
}

.side-container .header button {
  margin-left: auto;
}

.side-container li > div {
  display: flex;
  position: relative;
  align-items: center;
  width: 100%;
  padding: 5px 15px;
  box-sizing: border-box;
}

.side-container li > div:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-container div + ul li > div {
  padding-left: 30px;
}

.side-container div + ul li li > div {
  padding-left: 45px;
}

.side-container li > ul {
  display: none;
}

.side-container li.open > ul {
  display: block;
}

.side-container .no-page {
  color: #999;
}

.side-container li a {
  padding-bottom: 2px;
  cursor: pointer;
}

.side-container li button {
  overflow: hidden;
  width: 21px;
  height: 21px;
  border: 1px solid #ccc;
  border-radius: 3px;
  text-indent: -9999px;
  cursor: pointer;
}

.side-container button:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.side-container li .btn-toggle-page {
  position: relative;
  border: 0;
}

.side-container li.open > div .btn-toggle-page::after {
  transform: rotate(90deg);
}

.side-container li .btn-toggle-page::after {
  content: "";
  display: block;
  position: absolute;
  left: 8px;
  top: 6px;
  border: 4px solid transparent;
  border-left: 7px solid #888;
  transition: 0.3s ease;
  transform-origin: 20% center;
}
.side-container .btn-add-page {
  background: url("/src/assets/icon-add.svg") center no-repeat;
  background-size: 10px;
}
.side-container .btn-del-page {
  background: url("/src/assets/icon-remove.svg") center no-repeat;
  background-size: 10px;
}

.side-container li .btn-add-page {
  display: none;
}

.side-container li .btn-del-page {
  display: none;
}

.side-container li > div:hover .btn-add-page {
  display: block;
}

.side-container li > div:hover .btn-del-page {
  display: block;
}

.side-container .hidden-box {
  display: flex;
  margin-left: auto;
}

.side-container .hidden-box button {
  margin-left: 5px;
}

.side-container .btn-add-root {
  width: 100%;
  padding: 5px 15px;
  text-align: left;
  vertical-align: middle;
}

.side-container .btn-add-root::before {
  content: "";
  display: inline-block;
  width: 21px;
  height: 21px;
  background: url("/src/assets/icon-add.svg") no-repeat center top 5px;
  background-size: 12px;
  vertical-align: sub;
}

.editor-container {
  float: left;
  width: calc(100% - 240px);
  box-sizing: border-box;
}

.editor-container div {
  width: 100%;
}

.editor-container input {
  width: calc(100% - 100px);
  margin: 50px 50px 10px;
  border: 2px solid transparent;
  box-sizing: border-box;
  font-size: 40px;
  font-weight: bold;
  line-height: 1.2;
}

.editor-container input:focus {
  outline: 0;
  border-bottom-color: #ccc;
}

.editor-container textarea {
  width: 100%;
  height: 70vh;
  padding: 15px 50px;
  box-sizing: border-box;
  border: 1px solid transparent;
  font-size: 16px;
}

.editor-container textarea:focus {
  outline: 0;
}
