* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

#app {
  width: 100%;
  height: 100%;
  display: flex;
}

.contentPage {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background: url("./image/windows95logo.png") no-repeat center center
    rgb(71, 123, 124);
  background-size: 30%;
}

.editor {
  display: flex;
  flex-direction: column;
  z-index: 1;
  padding: 3px;
  background-color: rgb(190, 190, 190);
}

.titleIcon {
  position: absolute;
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 3px;
  top: 50%;
  transform: translateY(-50%);
  background: url("./image/openFile.png") no-repeat center/contain transparent;
  background-size: 100%;
}

.documentTitle {
  position: relative;
  color: rgb(255, 255, 255);
  background-color: rgb(2, 0, 127);
  width: 600px;
  height: 30px;
  padding: 2px;
}

.titleInput {
  border: none;
  background: transparent;
  color: rgb(255, 255, 255);
  width: 500px;
  vertical-align: baseline;
  margin-top: 7px;
  margin-left: 25px;
}

.editorDelete {
  position: absolute;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  right: 0;
  width: 20px;
  height: 20px;
  margin-right: 4px;
  font-size: 14px;
  font-weight: bolder;
  padding: 0 4px;
  background-color: rgb(190, 190, 190);
}

.documentContent {
  background-color: rgb(190, 190, 190);
  width: 600px;
  height: 400px;
  padding: 5px;
}

.controlPage {
  background-color: rgb(190, 190, 190);
  width: 400px;
  height: 100vh;
}

ul {
  padding-left: 20px;
}

li:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(2, 0, 127);
}

li {
  list-style: none;
}

.toggleDocument {
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: none;
  border: none;
}

.createChildDocument {
  width: 20px;
  height: 20px;
  cursor: pointer;
  background: none;
  border: none;
}

#toggleImage {
  width: 20px;
  height: 20px;
  background: url("./image/file.png") no-repeat center/contain;
  background-size: 100%;
}

#toggledImage {
  width: 22px;
  height: 22px;
  background: url("./image/toggleFile.png") no-repeat center/contain;
  background-size: 100%;
  padding: 0;
}

.selectDocument {
  cursor: pointer;
}

.isSelected {
  background-color: rgb(2, 0, 127);
}

#isSelectedText {
  color: rgb(255, 255, 255);
}

.createDocument {
  display: block;
  margin: 50px auto;
  background-color: rgb(153, 153, 153);
}

.deleteDocument {
  background-color: rgb(153, 153, 153);
}

li .deleteDocument:active {
  background-color: rgb(2, 0, 127);
}

.hideDisplay {
  display: none;
}

.noChildDocument {
  color: rgb(255, 255, 255);
}
